<% if (pterodactyl.relationships.servers.data.length == 0) { %>
  <div class="card alert">
    <div class="card-body">
      <div class="card-action">
        <div class="dropdown">
          <button aria-hidden="true" class="close" type="button">&times;</button>
         </div>
        </div>
        <center>
          <image onclick="location.href='../new'" width="256" src="https://cdn.spectrumdevs.com/holaclient/noservers.png"><br><br>
      You don't have any servers yet! Click the above icon to create one.<br>
      </center>
    </div>
  </div>
<% } else { %>
<% } %>

